// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#cover{
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 1000px;
    height: 1px;
    border: solid 1px #444;
    background: #eeefff;
    font-size: 3em;

}

#game{
   position: absolute;
    top: 10%;
    left: 10%;
    width: 1000px;
    height: 500px;
    border: solid 1px #444;


}
