<!DOCTYPE html>
%html
  %head
    %title SuperPAC-The Game
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    %div.row
      %div{:class => "span12 top-level"}
        %h1.top SuperPAC--The Game    
        =link_to "Log Out", destroy_user_session_path, :method => :delete
    =yield
